%button.btn.btn-link{ type: 'button', data: { sort_type_value: 'new', action: 'click->sort#call'}} New
%button.btn.btn-link{ type: 'button', data: { sort_type_value: 'old', action: 'click->sort#call'} } Old