//= require actiontext  

@import "bootstrap";

.dropdown-menu--nav-bar {
  margin-left: -55px;
}

.px-15 {
  padding-right: 15rem;
  padding-left: 15rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}
