//= require actiontext  

@import "bootstrap";

.dropdown-menu--nav-bar {
  margin-left: -55px;
}

.px-15 {
  padding-right: 15rem;
  padding-left: 15rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.main-color {
  background-color: #EFEFEF;
}

.post {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 10px 0;
}
